In [1]:
ll

total 24
-rw-r--r--  1 dongyi  staff    20  5 16 21:15 README.md
-rw-r--r--  1 dongyi  staff    72  5 16 21:52 Untitled.ipynb
-rw-r--r--  1 dongyi  staff  1614  5 16 21:15 analyse-coin.py

In [3]:
from ac import *

In [4]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'combinations',
 'compute_all',
 'datetime',
 'exit',
 'get_coin_list',
 'get_ipython',
 'get_price',
 'json',
 'lru_cache',
 'np',
 'pd',
 'quit',
 'requests',
 'scipy',
 'talib']

In [5]:
lp = get_price('Litecoin')

In [6]:
bp = get_price('Bitcoin')

In [9]:
lp.set_index('date', inplace=True)

In [10]:
bp.set_index('date', inplace=True)

In [11]:
merged_df = pd.concat([lp, bp], axis=1).dropna()

In [12]:
merged_df

                       price   price
date
2014-01-16 21:31:02  25.0017  853.01

In [14]:
lp.resample('1d').mean()

               price
date
2013-04-29   4.29983
2013-04-30   4.35940
2013-05-01   4.18295
2013-05-02   3.64914
2013-05-03   3.38879
2013-05-04   2.78957
2013-05-05   3.51708
2013-05-06   3.63013
2013-05-07   3.50733
2013-05-08   3.21463
2013-05-09   3.46150
2013-05-10   3.42390
2013-05-11   3.50018
2013-05-12   3.38675
2013-05-13   3.24093
2013-05-14   3.20229
2013-05-15   3.06730
2013-05-16   2.93058
2013-05-17   2.86922
2013-05-18   3.15827
2013-05-19   3.32471
2013-05-20   3.27158
2013-05-21   3.18818
2013-05-22   3.08331
2013-05-23   3.09210
2013-05-24   3.15250
2013-05-25   3.14642
2013-05-26   3.11620
2013-05-27   3.25620
2013-05-28   3.11957
...              ...
2017-04-17  10.64990
2017-04-18  10.46930
2017-04-19  10.32220
2017-04-20   9.60504
2017-04-21  10.28270
2017-04-22  11.17730
2017-04-23  13.15800
2017-04-24  13.87110
2017-04-25  15.02850
2017-04-26  15.08080
2017-04-27  14.93560
2017-04-28  14.65080
2017-04-29  14.42550
2017-04-30  15.82880
2017-05-01  15.69400
2017-05-02  16.02190
2017-05-03  15.83390
2017-05-04  21.14070
2017-05-05  24.33950
2017-05-06  26.65960
2017-05-07  28.56780
2017-05-08  29.81130
2017-05-09  29.42700
2017-05-10  31.64110
2017-05-11  32.44090
2017-05-12  31.34440
2017-05-13  27.53390
2017-05-14  29.27800
2017-05-15  28.70540
2017-05-16  24.52485

[1479 rows x 1 columns]